:root {
  --primary-blue-1: #2491eb;
  --primary-blue-2: #15357a;
  --primary-blue-3: #02466b;
  --primary-white-1: #ffffff;
  --primary-white-2: #f5f5f6;
  --primary-white-3: #fefefe;
  --primary-white-4: #fafafa;
  --primary-black-1: #101929;
  --primary-black-2: #0c1017;
  --primary-black-3: #151017;
  --primary-grey-1: #5a5c61;
  --primary-grey-2: #55585d;
  --primary-grey-3: #848587;
  --primary-grey-4: #989898;
  --primary-grey-5: #bbbcbf;
  --primary-grey-6: #dce0e8;
  --primary-grey-7: #a1a1a1;
  --primary-grey-8: #00000033;
  --primary-grey-9: #0000001a;
  --primary-grey-10: #ececec; }

.introduction .image-holder {
  background: transparent url("../img/group.png") 0% 0% no-repeat padding-box;
  width: 100%;
  background-size: 100%; }
  .introduction .image-holder .image-holder-container {
    padding-left: 6%;
    padding-top: 3.6%;
    height: 85%; }
    .introduction .image-holder .image-holder-container .logo img {
      width: 14.5%;
      height: 5%; }
    .introduction .image-holder .image-holder-container .title {
      padding-top: 8%;
      font-size: 3vw;
      color: var(--primary-white-1);
      letter-spacing: 0px; }
    .introduction .image-holder .image-holder-container .sub-title {
      font-size: 4vw;
      color: var(--primary-white-1);
      font-style: italic;
      letter-spacing: 0px;
      font-weight: 600px; }
    .introduction .image-holder .image-holder-container .description {
      margin-top: 1.2%;
      width: 28.3%;
      height: 18.5%;
      font-size: 0.8vw;
      color: var(--primary-white-1); }
    .introduction .image-holder .image-holder-container .button {
      margin: 3.5% 0%; }
  .introduction .image-holder .bottom {
    width: 100%;
    height: 50px;
    background-color: var(--primary-blue-1);
    display: flex;
    align-items: center; }
    .introduction .image-holder .bottom .control {
      width: 32%;
      height: 100%;
      display: inline-block;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center; }
      .introduction .image-holder .bottom .control div {
        font-size: 0.9vw;
        color: var(--primary-white-1);
        text-transform: uppercase;
        margin: 0 auto; }
  .introduction .image-holder #default-state {
    display: block; }
  .introduction .image-holder #xbe-db,
  .introduction .image-holder #available-projects,
  .introduction .image-holder #post-project {
    display: none; }

.available-projects {
  /* UI Properties */
  background: #f5f5f6 0% 0% no-repeat padding-box;
  opacity: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1920px;
  margin: 0 auto; }

.button {
  width: 13.3%;
  height: 6%;
  border: 0.01em solid var(--primary-white-1);
  border-radius: 50px;
  color: var(--primary-white-1);
  font-size: 0.8vw;
  display: flex;
  align-items: center; }
  .button .text {
    margin: 0 auto;
    cursor: pointer; }

.button:hover {
  color: var(--primary-white-1);
  background-color: var(--primary-blue-1);
  border: none; }
