.button {
    width: fit-content;
    padding: 1%;
    border: 0.01em solid var(--primary-white-1);
    border-radius: 50px;
    color: var(--primary-white-1);
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    .text {
        margin: 0 auto;
        cursor: pointer;
    }
}
.button:hover {
    color: var(--primary-white-1);
    background-color: var(--primary-blue-1);
    border: none;
}
