* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.dash {
    width: 2.5vw;
    height: 0.1vw;
    background-color: var(--primary-blue-1);
}