.section-one {
    .image-holder {
        width: 100%;
        background-size: 100%;
        position: relative;
        img {
            width: 100%;
        }
        .image-holder-container {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            .details {
                padding: 3.6% 6% 0 6%;
                height: 85%;
                .header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .logo {
                        width: 14.5%;
                    }
                    .menu {
                        display: flex;
                        width: 85%;
                        justify-content: end;
                        align-items: center;
                        .item {
                            font-size: 1vw;
                            font-weight: 500;
                            color: var(--primary-white-3);
                            padding: 0 3%;
                            cursor: pointer;
                            &.with-border {
                                border-right: 2px solid var(--primary-grey-4);
                                margin-right: 2%;
                            }
                        }
                        .book-demo {
                            font-size: 0.9vw;
                            font-weight: 500;
                            color: var(--primary-white-3);
                            padding: 0.6% 2%;
                            cursor: pointer;
                            margin-right: 2%;
                        }
                        .book-demo:hover {
                            padding: 0.6% 2%;
                            background-color: var(--primary-grey-2);
                            color: var(--primary-white-1);
                            border-radius: 20px;
                        }
                        .login {
                            cursor: pointer;
                            font-size: 0.9vw;
                            padding: 0.6% 2%;
                            background-color: var(--primary-blue-1);
                            color: var(--primary-white-1);
                            border-radius: 20px;
                            font-weight: 600;
                        }
                    }
                }

                .title {
                    padding-top: 8%;
                    font-size: 3vw;
                    color: var(--primary-white-1);
                    letter-spacing: 0px;
                }
                .sub-title {
                    font-size: 4vw;
                    color: var(--primary-white-1);
                    font-style: italic;
                    letter-spacing: 0px;
                    font-weight: 600;
                }
                .description {
                    margin-top: 1.2%;
                    width: 28.3%;
                    font-size: 0.8vw;
                    color: var(--primary-white-1);
                }
                .button {
                    margin: 3.5% 0%;
                    width: fit-content;
                    padding: 1%;
                    border: 0.01em solid var(--primary-white-1);
                    border-radius: 50px;
                    color: var(--primary-white-1);
                    font-size: 0.8vw;
                    display: flex;
                    align-items: center;
                    .text {
                        margin: 0 auto;
                        cursor: pointer;
                    }
                }
                .button:hover {
                    color: var(--primary-white-1);
                    background-color: var(--primary-blue-1);
                    border: none;
                }
            }
            .bottom {
                width: 100%;
                height: 15%;
                opacity: 0.15;
                background: var(--primary-blue-1) 0% 0% no-repeat padding-box;
                display: flex;
                align-items: center;
                &:hover {
                    opacity: 0.5;
                }
                .control {
                    width: 32%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    text-align: center;
                    div {
                        font-size: 1.2vw;
                        color: var(--primary-white-1);
                        text-transform: uppercase;
                        margin: 0 auto;
                    }
                }
            }
        }

        #default-state {
            display: block;
            height: 86%;
            padding-top: 2.4%;
        }
        #xbe-db,
        #available-projects,
        #post-project {
            display: none;
            align-items: center;
            justify-content: space-between;
            height: 86%;
            .hover-details {
                width: 60%;
                height: 100%;
                padding-top: 6%;
            }
            img {
                width: 27.5%;
                height: 48%;
                margin-right: 2px;
            }
        }
    }
}
